MONGO_INITDB_ROOT_USERNAME=backend
MONGO_INITDB_ROOT_PASSWORD=dy5bBPgxTkDcqh2A
MONGO_INITDB_DATABASE=mongodb+srv://backend:dy5bBPgxTkDcqh2A@votehub.j46an8f.mongodb.net/?appName=VoteHub
MONGO_APP_USER=backend
MONGO_APP_PASS=dy5bBPgxTkDcqh2A
